{% extends 'blank.html' %}
{% load static %}
{% block body %}
<script src="{% static 'js/chk.js' %}"></script>
<table class="table table-bordered">
    <tr>
        <th>SR#</th>
        <th>Loan#</th>
        <th>MM Loan#</th>
        <th>Borrower Name</th>
        <th>Process Type</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>{{q.Sr_No}}</td>
        <td>{{q.Loan_No}}</td>
        <td>{{q.MM_Loan}}</td>
        <td>{{q.Borrower_lname}}</td>
        <td>{{q.Process_Type}}</td>
        <td>{{q.File_status}}</td>
    </tr>
</table>
<form action="{% url 'qcChk_save' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="fileid" value="{{q.id}}">
    <input type="hidden" name="loan_no" value="{{q.Loan_No}}">
    <input type="hidden" name="Bname" value="{{q.Borrower_lname}}">
    <input type="hidden" name="State" value="{{q.State}}">
    <table class="table table-bordered" name="table" id="table">
        <tr>
            <th>Sr#</th>
            <th>Audit Items</th>
            <th>Status</th>
            <th>Comments</th>
        </tr>
        {% for i in qcdoc %}
        <tr>
            <td>{{i.View_no}}<input type="hidden" name="Sr" value="{{i.View_no}}"></td>
            <td>{{i.Checklist}}<input type="hidden" name="list" value="{{i}}"></td>
            <td>
                <select name="ddstatus" id="ddstatus_{{i.View_no}}" required onchange="h()">
                    <option>{{i.Proc_status}}</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                    <option value="N/A">N/A</option>
                    <option value="Suspend">Suspend</option>
                </select>
            </td>
            <td><textarea name="comment" id="comment_{{i.View_no}}" cols="30" rows="1">{{i.Proc_comments}}</textarea>
            </td>
        </tr>
        <script>

            if (document.getElementById("ddstatus_{{i.View_no}}").value == "Fail") {
                document.getElementById("ddstatus_{{i.View_no}}").style.backgroundColor = 'red'
            } else if (document.getElementById("ddstatus_{{i.View_no}}").value == "Pass") {
                document.getElementById("ddstatus_{{i.View_no}}").style.backgroundColor = "green"
            } else {
                document.getElementById("ddstatus_{{i.View_no}}").style.backgroundColor = "white"
            }
        </script>
        {% endfor %}
    </table>
    <div class="row justify-content-center">
        <button class="btn btn-primary" onclick=mnd()>Submit</button>
    </div>
</form>

{% endblock %}