<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Forgot Password</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  </head>
  <body>
      <div class="row">
          <aside class="col-sm-4">
          </aside> <!-- col.// -->
          <aside class="col-sm-4">
          <h2>Password reset complete</h2>
          <div class="card">
          <article class="card-body">
          <p>
          Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
          </p>
          </article>
          </div>
          </aside>
          <aside class="col-sm-4">
          </aside> <!-- col.// -->
         </div>
  
  </body>

</html>
